html {
    scroll-behavior: smooth;
    /* ATIVA O SCROLL SUAVE */
  }
  
  kanit-light {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  * {
    font-family: "Kanit", sans-serif;
  }
  
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .tela1 {

    height: 80vh;
  
  }
  
  .tela2 {
    background-image: linear-gradient(#FFFFFF, #3884F5);
    height: 100vh;
  
  }
  
  .tela3 {
    height: 100vh;
  }
  
  
  .botao {
    margin-top: 30px;
    padding: 12px 24px;
    background: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
  }
  
  #header1 {
    display: flex;
    justify-content: space-between;
    height: 20%;
  }
  
  .ephoros {
    height: 150px;
    margin-top: 12px;
  }
  
  nav ul {
    display: flex;
  }
  
  nav ul li {
    margin: 75px;
    font-size: 18px;
  }
  
  .buttonassinar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    margin: 60px 30px 0px 0px;
    background-color: #3884F5;
    width: 312px;
    height: 50px;
    border-radius: 40px;
    transition: 0.2s;
  }
  
  #textoprincipaltela1 {
    width: 600px;
    height: 280px;
    font-size: 64px;
    margin-bottom: 30px;
  }
  
  .container {
    margin: 40px 60px 60px 60px;
  }
  
  .blue {
    color: #3884F5;
  }
  
  #paragrafoprincipaltela1 {
    width: 535px;
    height: 136px;
    font-size: 18px;
    color: #878787;
    margin-bottom: 30px;
  }
  
  .buttondemonst {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 335px;
    height: 52px;
    background-color: white;
    border: 1px solid #3884F5;
    border-radius: 40px;
    color: #3884F5;
    font-size: 20px;
    transition: 0.2s;
  }
  
  .carro {
    position: absolute;
    transform: translate(900px, -600px);
    width: 700px;
  }
  
  .buttondemonst:hover {
    background-color: #3884F5;
    color: white;
  }
  
  .buttonassinar:hover {
    background-color: #416fb4;
  }

  #header2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 35px;
    margin: 0px 0px 70px 0px;
    height: 10%;
  }
  
  hr {
    flex: 1;
    border: none;
    border-top: 2px solid #000000;
  }
  
  #main2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .linha {
  
    display: flex;
    align-items: center;
    gap: 12px;
    width: 500px;
  }
  
  .cards1 {
    display: flex;
    margin-bottom: 60px;
  }
  
  .cards2 {
    display: flex;
  }
  
  .textocard {
    font-size: 30px;
    text-align: center;
    color: #7eaaec;
  }
  
  .pcard {
    font-size: 15px;
    font-weight: normal;
    color: #515151;
    text-align: center;
  }
  
  .card {
    width: 320px;
    height: 250px;
    background-color: white;
    margin: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
  }
  
  .bola {
    width: 128px;
    height: 122px;
    border-radius: 50%;
    background-color: #416fb4;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-150px);
    position: absolute;
  }
  #header2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-size: 35px;
  margin: 0px 0px 70px 0px;
  height: 10%;
}

hr {
  flex: 1;
  border: none;
  border-top: 2px solid #000000;
}

#main2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.linha {

  display: flex;
  align-items: center;
  gap: 12px;
  width: 500px;
}

.cards1 {
  display: flex;
  margin-bottom: 60px;
}

.cards2 {
  display: flex;
}

.textocard {
  font-size: 30px;
  text-align: center;
  color: #7eaaec;
}

.pcard {
  font-size: 15px;
  font-weight: normal;
  color: #515151;
  text-align: center;
}

.card {
  width: 320px;
  height: 250px;
  background-color: white;
  margin: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
}

.bola {
  width: 128px;
  height: 122px;
  border-radius: 50%;
  background-color: #416fb4;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-150px);
  position: absolute;
}
  