html {
    scroll-behavior: smooth;
    /* ATIVA O SCROLL SUAVE */
  }
  
  kanit-light {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  * {
    font-family: "Kanit", sans-serif;
  }
  
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .tela1 {

    height: 80vh;
  
  }
  
  .tela2 {
    background-image: linear-gradient(#FFFFFF, #3884F5);
    height: 100vh;
  
  }
  
  .tela3 {
    height: 100vh;
  }
  
  
  .botao {
    margin-top: 30px;
    padding: 12px 24px;
    background: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
  }
  
  #header1 {
    display: flex;
    justify-content: space-between;
    height: 20%;
  }
  
  .ephoros {
    height: 150px;
    margin-top: 12px;
  }
  
  nav ul {
    display: flex;
  }
  
  nav ul li {
    margin: 75px;
    font-size: 18px;
  }
  
  .buttonassinar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    margin: 60px 30px 0px 0px;
    background-color: #3884F5;
    width: 312px;
    height: 50px;
    border-radius: 40px;
    transition: 0.2s;
  }
  
  #textoprincipaltela1 {
    width: 600px;
    height: 280px;
    font-size: 64px;
    margin-bottom: 30px;
  }
  
  .container {
    margin: 40px 60px 60px 60px;
  }
  
  .blue {
    color: #3884F5;
  }
  
  #paragrafoprincipaltela1 {
    width: 535px;
    height: 136px;
    font-size: 18px;
    color: #878787;
    margin-bottom: 30px;
  }
  
  .buttondemonst {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 335px;
    height: 52px;
    background-color: white;
    border: 1px solid #3884F5;
    border-radius: 40px;
    color: #3884F5;
    font-size: 20px;
    transition: 0.2s;
  }
  
  .carro {
    position: absolute;
    transform: translate(900px, -600px);
    width: 700px;
  }
  
  .buttondemonst:hover {
    background-color: #3884F5;
    color: white;
  }
  
  .buttonassinar:hover {
    background-color: #416fb4;
  }

  #header2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 35px;
    margin: 0px 0px 70px 0px;
    height: 10%;
  }
  
  hr {
    flex: 1;
    border: none;
    border-top: 2px solid #000000;
  }
  
  #main2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .linha {
  
    display: flex;
    align-items: center;
    gap: 12px;
    width: 500px;
  }
  
  .cards1 {
    display: flex;
    margin-bottom: 60px;
  }
  
  .cards2 {
    display: flex;
  }
  
  .textocard {
    font-size: 30px;
    text-align: center;
    color: #7eaaec;
  }
  
  .pcard {
    font-size: 15px;
    font-weight: normal;
    color: #515151;
    text-align: center;
  }
  
  .card {
    width: 320px;
    height: 250px;
    background-color: white;
    margin: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
  }
  
  .bola {
    width: 128px;
    height: 122px;
    border-radius: 50%;
    background-color: #416fb4;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-150px);
    position: absolute;
  }
  #header2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-size: 35px;
  margin: 0px 0px 70px 0px;
  height: 10%;
}

hr {
  flex: 1;
  border: none;
  border-top: 2px solid #000000;
}

#main2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.linha {

  display: flex;
  align-items: center;
  gap: 12px;
  width: 500px;
}

.cards1 {
  display: flex;
  margin-bottom: 60px;
}

.cards2 {
  display: flex;
}

.textocard {
  font-size: 30px;
  text-align: center;
  color: #7eaaec;
}

.pcard {
  font-size: 15px;
  font-weight: normal;
  color: #515151;
  text-align: center;
}

.card {
  width: 320px;
  height: 250px;
  background-color: white;
  margin: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
}

.bola {
  width: 128px;
  height: 122px;
  border-radius: 50%;
  background-color: #416fb4;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-150px);
  position: absolute;
}

#header3 {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

#main3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;

}


#retangulo1 {
  position: absolute;
  z-index: -1;
  width: 250px;
  height: 250px;
  transform: translate(-100px, -600px);
}

#elipse1 {
  position: absolute;
  z-index: -1;
  width: 250px;
  height: 250px;
  transform: translate(1100px, -600px);
}

#retangulo2 {
  position: absolute;
  z-index: -1;
  width: 250px;
  height: 250px;
  transform: translate(1100px, -170px);
}

#elipse2 {
  position: absolute;
  z-index: -1;
  width: 250px;
  height: 250px;
  transform: translate(-170px, -180px);
}

.tela4 {
  height: 150vh;
  background-color: #B1C2F6;
}

iframe {
  border-radius: 20px;
}

.tela4 {
  height: 80vh;
  background-color: #B1C2F6;
}

iframe {
  border-radius: 20px;
}

#header4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.linha2 {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 500px;
}

.assinatura {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.assinar {
  width: 400px;
  height: 600px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 50px;
  transform: translateY(50px);
}

.plano {
  width: 300px;
  height: 70px;
  border-radius: 30px;
  background-image: linear-gradient(#11578D, #1C8EE6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.textoplano {
  text-align: justify;
  width: 300px;
  margin: 20px 0px 40px 0px;
  color: #666464;
}

.imgassinatura {
  width: 150px;
  height: 100px;
}

.assinarplano {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 234px;
  height: 60px;
  background-image: linear-gradient(#11578D, #1C8EE6);
  font-size: 30px;
  border-radius: 30px;

}

.beneficios {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.beneficios li {
  display: flex;
  align-items: center;
  margin: 12px 0;
  font-size: 15px;
  gap: 12px;
}

.icone {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0b9df7;
  color: white;
  font-weight: bold;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

#botaobranco {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  width: 234px;
  height: 60px;
  font-size: 30px;
  border-radius: 30px;
}

.assinar1 {

  width: 400px;
  height: 600px;
  background-color: #174378;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 50px;

}

.textoplano1 {
  color: white;
  text-align: justify;
  width: 300px;
  margin: 20px 0px 40px 0px;
}

.beneficios1 {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.beneficios1 li {
  display: flex;
  align-items: center;
  margin: 12px 0;
  font-size: 15px;
  gap: 12px;
  color: white;
}

.icone1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0b9df7;
  color: #174378;
  font-weight: bold;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.imgassinatura1 {
  width: 150px;
  height: 60px;
  margin-bottom: 30px;
}

.tela5 {
  height: 100vh;
  background-color: #7d90ff;
}

#main5 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.formulario {
  background-color: white;
  width: 1000px;
  height: 600px;
  border-radius: 50px;
}

#pform {
  margin-top: 30px;
}

.textoformulario {
  margin: 30px;
}

.forms {
  display: flex;
}

.campoformulario {
  width: 600px;
  height: 300px;
  margin: 30px;

}

.imagem {
  width: 300px;
  height: 300px;
}

.campoformulario {
  display: flex;
  flex-direction: column;
}


input {
  margin-bottom: 30px;
  padding: 15px;
}

#nomeform {
  width: 500px;
  height: 40px;
  border-radius: 10px;
}

#emailform {
  width: 500px;
  height: 40px;
  border-radius: 10px;
}

textarea {
  width: 500px;
  height: 120px;
  resize: none;
  padding: 5px;
  border-radius: 10px;
}

.buttonforms {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0b9df7;
  width: 300px;
  height: 50px;
  margin-left: 120px;
  border-radius: 30px;
  color: white;

}

#imgforms {
  width: 300px;
}

.textofooter {
  display: flex;
  justify-content: space-between;
  color: white;
}

.tela6 {
  background-color: #11578D;
}

#descricao {
  margin: 25px;
}

.descricao-footer {
  margin-bottom: 30px;
  width: 300px;
  font-size: 20px;
}

.receba-novidades {
  display: flex;
  ;
}

.button-footer {
  background-color: #60c1fd;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  margin-left: 30px;
  border-radius: 5px;
}

.footer-contatos {
  margin-right: 30px;
}

ul {
  margin-top: 30px;
}

li {
  margin-bottom: 30px;
}

footer {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 25px;
  margin: 30px 15px 0px 15px;
}
@media (max-width: 1024px) {
  nav {
    display: none;
  }

  .container {
    margin-top: 0px;
  }

  .tela1 {
    height: 100vh;
  }

  #textoprincipaltela1 {
    font-size: 50px;
    width: 450px;
    height: 200px;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carro {
    width: 437px;
    height: 367px;
    transform: translate(200px, -20px);
  }

  #header1 {
    height: 15vh;
  }

  .cards1 {
    flex-direction: column;
    gap: 32px;

  }

  .textocard {
    font-size: 25px;
  }

  .pcard {
    font-size: 15px;
  }

  #main2 .bola {
    width: 113px;
    height: 97px;
    margin-top: 70px;

  }

  .cards1 .card {
    width: 300px;
    height: 190px;
  }

  .cards2 {
    flex-direction: column;
    margin-top: -65px;
    gap: 32px;
  }

  .cards2 .card {
    width: 300px;
    height: 190px;
  }

  #main2 {

    flex-direction: row;

  }

  iframe {
    width: 700px;
    height: 500px;


  }

  #retangulo1 {
    margin-left: 70px;
    margin-top: 70px;
  }

  #retangulo2 {
    margin-left: -620px;
    margin-top: -60px;


  }

  #elipse1 {
    margin-left: -600px;
    margin-top: -80px;
    width: 150px;
    height: 150px;

  }

  #elipse2 {
    margin-left: 120px;
    margin-top: 190px;
    width: 150px;
    height: 150px;
  }

    #tela4{
    height: 150vh;
  }

  .assinar1 {

    position: absolute;
    transform: translateY(700px);
  }

  .assinar {

    width: 330px;

  }

  .assinar1 {
    width: 330px;
  }

  .formulario {
    width: 750px;
  }
  .campoformulario{
    width: 300px;
  }

  #imgforms {
    width: 260px;
    height: 250px;
    margin-top: 235px;
    margin-left: 100px;
  } 

    #linksuteis {

    display: none;
  }

  .receba-novidades {
    margin-top: 60px;
  }

  #Contato{
    margin-left: -700px;
  }

  footer {
    margin-top: 30px;
    font-size: 18px;
  }

  #tela6 {
    height: 55vh;
  } 




}

@media (max-width: 375px) { 

.tela1 {
  height: auto; 
  padding-bottom: 40px;
  position: relative;
    }

#header1 {
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
    }

.ephoros {
  height: 120px; 
  margin-top: 0;
  margin-left: -10px;
    }

.menu{
  margin: 35px 15px 0 0;
    }

nav {
  display: none; 
    }

.buttonassinar {
  display: none;
    }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
    }

.container {
  margin:  15px 0 15px; 
    }

#textoprincipaltela1 {
  width: 100%;
  height: auto;
  font-size: 40px; 
  margin-bottom: 15px;
  margin-left: 10px;
  margin: -30px 0 10px 10px;
    }

#paragrafoprincipaltela1 {
  width: 310px; 
  height: auto;
  font-size: 16px;
  margin-left: 10px;
    }
    
.buttons-main {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  width: 100%;
  max-width: 345px;
  gap: 10px;
    }
    
.buttondemonst {
  width: 75%;
  height: 45px;
  font-size: 16px;
  white-space: nowrap; 
  padding: 0 5px;
  box-sizing: border-box;

    }

.buttonassineja {
  width: 40%; 
  height: 45px;
  font-size: 14px;
  box-sizing: border-box;
    }

.carro {
  display: none;
    }

.carro_mobile {
  display: block;
  width: 350px;
  margin: 30px auto 0 auto;
  height: auto;
  position: relative;
  }

.tela2{
  margin-top: 90px;
  height: auto;
}

#main2{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card{
  width: 50%;
  max-width: 270px;
  border-radius: 15px;
  margin: 40px;
}

.bola{
  right: 20px;
  max-width: 70px;
  max-height: 70px;
}

.bola img{
  width: 50px;
  height: 50px;
}

.linha{
  max-width: 300px;
}

.textocard{
  font-size: 18px;
}

.pcard{
  font-size: 14px;
  max-width: 200px;
}

#header2{
  font-size: 25px;
}

.tela3 {
  height: auto;
  padding: 60px 0; 
}

#header3 {
  height: auto;
  margin-bottom: 50px; 
  display: flex;
  justify-content: center; 
  align-items: center;
}

#header3 h1 {
  font-size: 25px; 
  text-align: center;
}

#main3 {
  height: auto;
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 0 15px; 
}

.video {
  width: 90%; 
  max-width: 350px; 
  position: relative;
  padding-bottom: 56%; 
}

iframe {
  position: absolute;
  width: 100%; 
  height: 100%;
  border-radius: 10px; 
}

#retangulo1,#elipse1,#retangulo2,#elipse2 {
  display: none;
}

.tela4 {  
  height: auto; 
  padding-bottom: 50px;  
}

#header4 h1{
  text-align: center;
  font-size: 25px;
}

.linha2{
  max-width: 200px;
}

.assinatura {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 30px; 
}

.assinar, .assinar1{
  height: auto;
  width: 300px; 
  max-width: 315px;
  border-radius: 10px;
}
.textoplano, .textoplano1 {
 display: none; 
}

.plano{
  width: 150px;
  height: auto;
  font-size: 14px;

}

.assinarplano{
  width: 200px;
  height: auto;
  margin-bottom: 30px;
  font-size: 20px;
}

.icone{
  width: 20px;
  height: 20px;
  margin-left: 3px;
}

.beneficios li, .beneficios1 li{
  font-size: 12px;
}

#botaobranco{
  width: 200px;
  height: 30px;
}

.icone1{
   width: 20px;
  height: 20px;
  margin-left: 3px;
}

.assinar1{
  height: 390px;
}

.tela5 {
    height: auto;
    padding: 50px 0;
}

#main5 {
    height: auto;
}

.formulario {
    width: 90%; 
    height: auto;
    border-radius: 20px;
    padding: 20px 0;
    margin: 0 auto;
}

.textoformulario {
    margin: 20px;
    text-align: center;
}

.textoformulario h1 {
    font-size: 28px;
}

#pform {
    font-size: 16px;
}

.forms {
    flex-direction: column; 
    align-items: center;
}

.campoformulario {
    width: 90%;
    margin: 0;
    align-items: center;
}

#nomeform, #emailform, textarea {
    width: 90%;
    max-width: 300px;
    margin-bottom: 20px;
    padding: 10px;
}

.imagem {
    display: none;
}

.buttonforms {
    width: 90%;
    max-width: 300px;
    height: 45px;
    margin: 20px auto 0 auto;
    font-size: 18px;
}
}
