html {
    scroll-behavior: smooth;
    /* ATIVA O SCROLL SUAVE */
  }
  
  kanit-light {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  * {
    font-family: "Kanit", sans-serif;
  }
  
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  